<div class="container-fluid bg-img shadow-sm">
  <div class="row">
    <div class="col-12 col-lg-4 mt-5 offset-md-2 tc">
      <h1>Conto corrente zero spese* 100% digitale per il quotidiano</h1>
      <p class="mt-5">Invia, ricevi e gestisci il tuo denaro direttamente da smartphone, dove e quando vuoi. Scopri il piano Standard: il conto corrente zero spese di canone con carta virtuale, pagamenti contactless e IBAN italiano per le tue operazioni quotidiane. Apri il tuo in pochi minuti dal tuo smartphone.</p>
      <button class="btn btn-secondary">Apri un conto corrente</button>
    </div>
    <div class="col-12 col-lg-4">
      <img [@fade] alt="credit-card" class="img-fluid" src="assets/img/Illustration/Wallet-bro.png" width="500px" height="500px">
    </div>
  </div>
</div>


<div class="container-fluid bg-grey shadow-sm">
  <div class="row  ">
    <div class="col-12 col-md-3">
      <p class="p-5 offset-md-2 b"><i class="bi bi-person px-2"></i>+1.000 Clienti</p>
    </div>
    <div class="col-12 col-md-3">
      <p class="p-5 b"><i class="bi bi-cash-coin px-2"></i>300 ATM Disponibili</p>
    </div>
    <div class="col-12 col-md-3">
      <p class="p-5 b"><i class="bi bi-credit-card px-2"></i>10 minuti per aprire il conto</p>
    </div>
    <div class="col-12 col-md-3">
      <p class="p-5 b"><i class="bi bi-globe px-2"></i>15 Paesi</p>
    </div>
  </div>
</div>

<div class="container-fluid bgc-second shadow-sm py-4">
  <div class="row">
    <div class="col-12 col-md-4 offset-md-2 mt-3">
    <img [@fade] src="assets/img/Illustration/Paper%20map-bro.png" class="img-fluid" width="400px" height="400px">
    </div>
    <div class="col-12 col-md-4 mt-3">
      <h1>Prelievo e deposito contanti in tutta semplicità con BANK123</h1>
      <p class="mt-5">Addio code in filiale! BANK123 è la nostra funzionalità che ti permette di depositare e prelevare contanti in oltre 1000 supermercati in tutta Italia. Genera un codice a barre sulla tua app, mostralo alla cassa ed effettua il prelievo o il deposito: il saldo del tuo conto si aggiornerà immediatamente.</p>
      <a class="linkstyle" href="#">Scopri di più<i class="bi bi-arrow-right-short"></i></a>
    </div>
  </div>
</div>

<div class="container-fluid mt-4 mb-5">
  <div class="row">
    <div class="col-12 col-md-4 offset-md-2 mt-3">
      <h1>Un'unica app per la completa gestione del tuo profilo</h1>
      <p class="mt-5"><i class="bi bi-check2 i-check px-2" style="color: #2c6e49"></i>Due profili tra cui scegliere e un'app completa per gestire conto, carte e pagamenti.</p>
      <p><i class="bi bi-check2 i-check px-2"></i>Rimani sempre aggiornato in tempo reale su saldo e movimenti di conti e carte.</p>
      <p><i class="bi bi-check2 i-check px-2"></i>Se hai conti anche con altre banche, puoi aggregarli in modo sicuro per avere tutto sotto controllo direttamente dall'app.</p>
      <p><i class="bi bi-check2 i-check px-2"></i>Hai accesso a tutte le funzionalità del conto corrente e alle nostre soluzioni bancarie, dagli investimenti alla protezione.</p>
      <img [@fade] src="https://n26.com/build/media/android.116748e7ca0027b10310b9ffb91f899e.svg" class="img-fluid px-2 mt-2">
      <img [@fade] src="https://n26.com/build/media/ios.a5ad099b78edc81ddc9f42b8c0f26d21.svg" class="img-fluid mt-2">

    </div>
    <div class="col-12 col-md-4 mt-5">
      <img [@fade] class="img-fluid offset-md-3" width="400px" height="400px" src="assets/img/Illustration/App%20data-pana.png">
    </div>
  </div>
</div>

<div class="container-fluid bgc-second shadow-sm footermargin shadow-sm">
  <div class="row">
    <div class="col-12 mt-3 text-center">

    </div>
  </div>
</div>


