.bg-container{
  background-color: #F8F9FA;
}

.bg-img{
  background-color: #4c956c;
}

.tc{
  color: #F8F9FA !important;
}

.bgc-second{
  background-color: #F8F9FA;
}

.bg-grey{
  background-color: #F2F2F2;
}

.p-format{
  color: black;
}
.i-check{
  color: #4c956c !important;
  font-weight: bold;
}
.footermargin{
  margin-bottom: -35px !important;
  background-color: #F2F2F2;
}

.b{
  font-weight: bold !important;
}
.linkstyle{
  text-decoration: none !important;
  font-size: 20px;
}

.btn:hover{
  color: #2c6e49 !important;
  box-shadow: 0 0 11px rgba(33,33,33,.2) !important;
}
