label {
  display: block;
}

input,
label {
  margin: .4rem 0;
}

.width{
  background-color: #4c956c;
  border-radius: 5px;
  color: white;
}

.dp{
  padding: 5px 5px 5px 5px;
}

@media (min-width: 992px) {
  .width{
    width: 50%;
    background-color: #4c956c;
    border-radius: 5px;
    color: white;
  }
}



