
    <div class="background shadow">
      <div class="description">
        <div class="description-text">
          <h1 class="description-title">Conto Corrente <strong>MyWallet</strong> </h1>
          <p class="description-keypoint">Conto corrente con <strong>carta di debito</strong> e Bonifici online <strong>illimitati e gratuiti</strong> verso tutti.</p>
          <button class="description-button btn btn-danger"><strong>Apri il CONTO Online</strong></button>
        </div>
          <img class="description-img" src="../../../assets/img/Illustration/Finance app-rafiki.png" alt="bankAccount-illustration">
      </div>
    </div>

    <div class="container mt-5">
      <div class="row"><h3> Scopri perchè aprire un conto <strong>MyWallet</strong>:</h3></div>
      <div class="row mt-5">
          <div class="col-sm-12 col-md-4 mb-4 mb-md-0">
            <div class="info-item">
              <i class="bi bi-globe info-icon"></i>
              <div class="info-text">
                <p>Pagamenti e Bonifici SEPA gratuiti da e verso tutto il <strong>mondo</strong>.</p> 
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 mb-md-0">
            <div class="info-item">
              <i class="bi bi-hand-thumbs-up info-icon"></i>
              <div class="info-text">
                <p>Canone <strong>ZERO</strong>, e in regalo ricevi un <strong>Buono Amazon</strong>.</p> 
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 mb-4 mb-md-0">
            <div class="info-item">
              <i class="bi bi-percent info-icon"></i>
              <div class="info-text">
                <p>Ti aiutiamo a far accrescere il tuo <strong>capitale</strong> tramite investimenti <strong>mirati</strong>.</p> 
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="phone-container mt-5 shadow">
      <div class="phone-content">
        <div>
          <img class="img-fluid phone-img" src="../../../assets/img/Illustration/CashPayment-bro.png" alt="phone-illustration">
        </div>
        <div class="phone-description">
          <div >
            <h4 class="phone-text">Vivi la nuova mobilità</h4>
          </div>
          <div class="phone-icons">
            <img [@fade] src="https://n26.com/build/media/android.116748e7ca0027b10310b9ffb91f899e.svg" alt="PlayStore-Image" class="img-fluid px-2 mt-2">
            <img [@fade] src="https://n26.com/build/media/ios.a5ad099b78edc81ddc9f42b8c0f26d21.svg" alt="AppleStore-Image" class="img-fluid mt-2">
          </div>
        </div>
      </div>
    </div>
    

