<div class="container">
  <div class="row">

    <div class="col-12">
      <h2 class="text-center">Apertura nuovo conto</h2>
    </div>

  </div>
</div>


<!--<div class="container mt-5">-->
<!--  <div class="row align-items-start">-->

<!--    <form (ngSubmit)="onSubmit()">-->
<!--&lt;!&ndash;  nome cognome datanascita email password&ndash;&gt;-->
<!--      <div class="col-12 text-center">-->
<!--          <label for="username">Nome</label>-->
<!--          <input-->

<!--            type="text"-->
<!--            id="username"-->
<!--            class="form-control"-->
<!--            ngModel-->
<!--            name="username"-->
<!--            required>-->
<!--      </div>-->
<!--      <div class="col-12 text-center mt-4">-->
<!--          <label for="username">Cognome</label>-->
<!--          <input-->
<!--            type="text"-->
<!--            id="usercognome"-->
<!--            class="form-control"-->
<!--            ngModel-->
<!--            name="usercognome"-->
<!--            required>-->
<!--      </div>-->

<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<div class="container">

  <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="row g-3" >
    <div class="col-md-6 form-group">
      <label for="username" class="form-label">Nome</label>
      <input type="text" class="form-control" id="username" name="username" required ngModel>
    </div>
    <div class="col-md-6 form-group">
      <label for="cognome" class="form-label">Cognome</label>
      <input type="text" class="form-control" id="cognome" name="cognome" required ngModel>
    </div>
    <div class="col-12 form-group">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="email@email.it" required ngModel>
    </div>
    <div class="col-12 form-group">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required ngModel>
    </div>

    <div class="col-12 mt-4">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Sign in</button>
    </div>

    </form>

</div>



