<p *ngIf="operation_ok" class="light-green-background rounded m-3 p-3">L'operazione è andata a buon fine.</p>
<form class="form row gx-5" [formGroup]="operationForm" (ngSubmit)="onSubmit()">
  <div class="form-group col-12 col-md-6 mt-3">
    <label class="form-label">Conto</label>
    <select class="form-select" formControlName="bill" (change)="onChangeBill($event)"  >
      <option *ngFor="let bill of user.bankAccounts;" [value]="bill">{{bill | number:'6.0' | noComma}}</option>
    </select>
  </div>
  <div class="form-group col-12 col-md-6 mt-3">
    <label class="form-label">Importo</label>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">€</span>
      </div>
      <input type="number" class="form-control" min="0.01" [max]="(op_type === 'WITHDRAWAL' ? maxAmount : '5000')"  step="0.01" formControlName="amount">
      <div class="error w-100">Inserire un importo valido. {{op_type === 'WITHDRAWAL' ? '' : 'Importo massimo € 5000'}}</div>
    </div>
  </div>
  <div class="form-group col-12 mt-3">
    <label class="form-label">Causale</label>
    <input class="form-control" type="text" formControlName="reason">
    <div class="error">Inserire una causale con massimo 100 caratteri.</div>
  </div>
  <div class="form-group col-12 mt-3 d-flex">
    <button class="btn btn-primary ms-auto" [disabled]="!operationForm.valid">Conferma</button>
  </div>
</form>
