<div class="backdrop" (click)="sidenavSwitch()" *ngIf="sidenav"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img
      [routerLink]="['/']"
      class="navbar-img pointer"
      src="../../../assets/img/logo/logo_small.png"
    />
  </a>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    *ngIf="!authorized"
  >
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link pointer"
          >Accedi <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link pointer">Nuovo Conto</a>
      </li>
      <li class="nav-item"></li>
    </ul>
  </div>

  <a class="nav-link pointer toggle-sidenav" *ngIf="!authorized"
    ><i (click)="sidenavSwitch()" class="bi bi-three-dots-vertical"></i
  ></a>
</nav>

<div class="sidenav-container" [@triggerSidenav]="sidenav ? 'open' : 'closed'">
  <div class="sidenav-content">
    <div class="sidenav-close-icon ms-auto">
      <i (click)="sidenavSwitch()" class="bi bi-x-lg pointer"></i>
    </div>
    <span class="user-items" *ngIf="!userLogged" [ngClass]="{'slide': sidenav}">
      <div  class="sidenav-item pointer" >
        <i class="bi bi-person"></i>
        <span>Profilo</span>
      </div>
      <div class="sidenav-item pointer" >
        <i class="bi bi-cash"></i>
        <span>Operazioni</span>
      </div>
      <div class="sidenav-item pointer">
        <i class="bi bi-credit-card-2-front"></i>
        <span>Conto</span>
      </div>
    </span>
    <div class="sidenav-item exit-button pointer">
      <i class="bi bi-box-arrow-left"></i>
      <span>Logout</span>
    </div>
  </div>
</div>
