
nav{
    padding: 1rem 2rem !important;
    border-bottom: 1px solid var(--light-gray);
}

.navbar-img{
    width: 14rem;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-link{
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}


.newAccountLink{
    transition: color 0.5s ease-out;
}

.newAccountLink i{
    margin-right: .5rem;
    font-size: 1.4rem;
}

.newAccountLink:hover {
    color: var(--primary-green) !important;
}

.toggle-sidenav i{
    font-size: 1.5rem;
    color: var(--gray);
}

.sidenav-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 27rem;
    height: 100vh;
    background-color: var(--primary-green);
    z-index: 3;
    transform-origin: right;
    transform: translateX(30rem);
    box-shadow: none;
}

.sidenav-content{
    padding: 1.5rem 0rem;
    display: flex;
    flex-direction: column;
}

.user-items{
    transform: translateX(20px);
    opacity: 0;
    transition: transform 0.3s ease ,opacity 0.3s ease;
    transition-delay: 0.4s;
}

.sidenav-close-icon i{
    padding-right: 2rem;
    font-size: 1.5rem;
    color: white;
}

.sidenav-item{
    padding: 1.5rem 2rem ;
    color: var(--white-yellow);
    text-align: start;
}

.sidenav-item:first-child{
    margin-top: 4rem;
}

.sidenav-item span{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.border-bottom{
  border-bottom: 2px solid white;
}

.sidenav-item i{
    font-size: 2.5rem;
    margin-right: 1.5rem;
}

.exit-button{
    margin-top: 4rem;
    transition: all 0.3s ease-out;
}

.sidenav-item:hover{
    background-color: var(--secondary-green);
}

.exit-button:hover i{
    color: var(--secondary-orange);
}

.slide{
    transform: translateX(0px);
    opacity: 1;
}

.backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.267);
    z-index: 1;
}


