<div class="backdrop" (click)="sidenavSwitch()" *ngIf="sidenav"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <div class="nav-item mx-1"  *ngIf="authorized">
    <a class="nav-link pointer toggle-sidenav">
      <i (click)="sidenavSwitch()" class="bi bi-three-dots-vertical"></i>
    </a>
  </div>

  <a class="navbar-brand">
    <img
      [routerLink]="['/']"
      class="navbar-img pointer"
      src="../../../assets/img/logo/logo_small.png"
      alt="AcademyBank Logo"
    />
  </a>

  <div class="ms-auto d-flex" *ngIf="!authorized">

    <ul class="navbar-nav hamburger-menu" *ngIf="mobile ? hamburger : true" [@fade]>
      <li class="nav-item">
        <a class="nav-link pointer newAccountLink" [routerLink]="['/registrazione']" (click)="hamburgerClick()"><i class="fas fa-running"></i> Nuovo Conto</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link pointer login-link" [routerLink]="['/login']" (click)="hamburgerClick()">
          Accedi <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>

    <div class="not-collapse d-flex">
      <div class="nav-item hamburger-button pointer"><i *ngIf="hamburger" class="bi bi-x" id="hamburger-close" (click)="hamburgerClick()"></i><i *ngIf="!hamburger" class="bi bi-list" (click)="hamburgerClick()"></i></div>
    </div>

  </div>

</nav>

<div class="sidenav-container" [@triggerSidenav]="sidenav ? 'open' : 'closed'">
  <div class="sidenav-content">
    <div class="sidenav-close-icon ms-auto">
      <i (click)="sidenavSwitch()" class="bi bi-x-lg pointer"></i>
    </div>
    <div class="user-items" [ngClass]="{ slide: sidenav } " >
      <div class="sidenav-user-info" >
        <i class="fas fa-user-tie sidenav-user-icon pointer" [routerLink]=" adminLogged ? ['/admin'] : ['/user/profilo']" routerLinkActive="sidenav-user-icon_active" [routerLinkActiveOptions]="{exact:
          true}"></i>
      </div>
      <div class="sidenav-item pointer" *ngIf="!adminLogged" id="first-sidenav-item" (click)="sidenavSwitch()" [routerLink]="['/user/profilo']" routerLinkActive="sidenav-item_active" [routerLinkActiveOptions]="{exact:
        true}">
        <i class="bi bi-person "></i>
        <span  >Profilo</span>
      </div>
      <div class="sidenav-item pointer" *ngIf="!adminLogged" (click)="operationMenuSwitch()">
        <div class="container_operation-menu"><i class="bi bi-cash"></i><span >Operazioni</span><i class="bi bi-chevron-down icon_operation-menu"></i></div>
      </div>
      <div class="operation-menu" *ngIf="operationMenu">
        <div class="sidenav-item submenu-item pointer" *ngIf="!adminLogged" (click)="sidenavSwitch()" [routerLink]="['/user/operazioni/versamento']" routerLinkActive="sidenav-item_active" [routerLinkActiveOptions]="{exact:
          true}">
          <span >Versamento</span>
        </div>
        <div class="sidenav-item submenu-item pointer" *ngIf="!adminLogged" (click)="sidenavSwitch()" [routerLink]="['/user/operazioni/ricarica']" routerLinkActive="sidenav-item_active" [routerLinkActiveOptions]="{exact:
          true}">
          <span >Ricarica</span>
        </div>
      </div>
      <div class="sidenav-item pointer" *ngIf="!adminLogged" (click)="sidenavSwitch()" [routerLink]="['/user']" routerLinkActive="sidenav-item_active" [routerLinkActiveOptions]="{exact:
        true}">
        <i class="bi bi-credit-card-2-front"></i>
        <span>Conto</span>
      </div>
    </div>
    <div class="sidenav-item exit-button pointer" (click)="logout(); sidenavSwitch()">
      <i class="bi bi-box-arrow-left"></i>
      <span >Logout</span>
    </div>
  </div>
</div>
