<div class="backdrop" (click)="sidenavSwitch()" *ngIf="sidenav"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand">
    <img
      [routerLink]="['/']"
      class="navbar-img pointer"
      src="../../../assets/img/logo/logo_small.png"
      alt="AcademyBank Logo"
    />
  </a>

  <div class="ms-auto d-flex" *ngIf="!authorized">

    <ul class="navbar-nav hamburger-menu" *ngIf="mobile ? hamburger : true" [@fadeIn]>
      <li class="nav-item">
        <a class="nav-link pointer newAccountLink" [routerLink]="['/registrazione']" (click)="hamburgerClick()"><i class="fas fa-running"></i> Nuovo Conto</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link pointer" [routerLink]="['/login']" (click)="hamburgerClick()">
          Accedi <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <div class="not-collapse d-flex">

      <div class="nav-item hamburger-button pointer"><i *ngIf="hamburger" class="bi bi-x" id="hamburger-close" (click)="hamburgerClick()"></i><i *ngIf="!hamburger" class="bi bi-list" (click)="hamburgerClick()"></i></div>
    </div>

  </div>

  <div class="nav-item ms-auto"  *ngIf="authorized">
    <a class="nav-link pointer toggle-sidenav">
      <i (click)="sidenavSwitch()" class="bi bi-three-dots-vertical"></i>
    </a>
  </div>
</nav>

<div class="sidenav-container" [@triggerSidenav]="sidenav ? 'open' : 'closed'">
  <div class="sidenav-content">
    <div class="sidenav-close-icon ms-auto">
      <i (click)="sidenavSwitch()" class="bi bi-x-lg pointer"></i>
    </div>
    <div class="user-items" *ngIf="!adminLogged" [ngClass]="{ slide: sidenav } " >
      <div class="sidenav-user-info" >
          <img (click)="sidenavSwitch()" class="sidenav-user-img img-fluid pointer" src="../../../assets/img/usr/usr1.jpg" alt="Immagine profilo utente" [routerLink]="['/user/profilo']" routerLinkActive="sidenav-user-img_active" [routerLinkActiveOptions]="{exact:
            true}">
          <div class="sidenav-user-text text-center">
            <span>{{userInfo.nome | titlecase}} - {{userInfo.cognome | titlecase}}</span>
          </div>
      </div>
      <div class="sidenav-item pointer" id="first-sidenav-item" (click)="sidenavSwitch()" [routerLink]="['/user/profilo']" routerLinkActive="sidenav-item_active" [routerLinkActiveOptions]="{exact:
        true}">
        <i class="bi bi-person "></i>
        <span  >Profilo</span>
      </div>
      <div class="sidenav-item pointer" (click)="sidenavSwitch()" [routerLink]="['/user/operazioni']" routerLinkActive="sidenav-item_active" [routerLinkActiveOptions]="{exact:
        true}">
        <i class="bi bi-cash"></i>
        <span >Operazioni</span>
      </div>
      <div class="sidenav-item pointer" (click)="sidenavSwitch()" [routerLink]="['/user']" routerLinkActive="sidenav-item_active" [routerLinkActiveOptions]="{exact:
        true}">
        <i class="bi bi-credit-card-2-front"></i>
        <span>Conto</span>
      </div>
    </div>
    <div class="sidenav-item exit-button pointer">
      <i class="bi bi-box-arrow-left"></i>
      <span (click)="logout(); sidenavSwitch()">Logout</span>
    </div>
  </div>
</div>
