<div class="footer container-fluid mt-5 mt-md-0">
  <div class="row gx-5">
    <div class="col-12 col-md-5 mt-2 d-flex flex-column align-items-center">
      <img class=" img-fluid footer-logo" src="../../../assets/img/logo/logo_footer-small.png" alt="">
      <div class="col-12 col-md-12 text-center mt-3">
        © 2021-2021 AcademyBank - Tutti i diritti riservati
      </div>
    </div>
    <div class="col-12 col-md-3 ">
      <div class="footer-list">
        <div class="footer-title" ><span>Normative</span></div>
        <p class="footer-item mt-1" ><span>Privacy</span></p>
        <p class="footer-item"><span>Cookies</span></p>
        <p class="footer-item"><span>Trasparenza</span></p>
      </div>
    </div>
    <div class="col-md-3 ms-md-5">
      <div class="footer-title" ><span>Assistenza e domande</span></div>
      <p class="footer-item mt-1" ><span>Domande frequenti</span></p>
      <p class="footer-item"><span>Blocca la tua carta</span></p>
      <p class="footer-item"><span>Sicurezza</span></p>
    </div>
  </div>
</div>
