.withdrawal {
  color: var(--secondary-orange);
  text-align: right;
}

.deposit {
  color: var(--secondary-green);
  text-align: right;
}

.item {
  border: 1px solid var(--primary-green);
  padding: 10px
}

p {
  white-space: nowrap;
}
