<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 m-auto">
      <h1 class="text-center">Opera sul tuo conto</h1>
      <app-alert-message type="inactive" *ngIf="inactive"></app-alert-message>
      <app-alert-message type="closing" *ngIf="closing"></app-alert-message>
    </div>
  </div>
  <div [class]="'row ' + (inactive || closing ? 'inactive' : '')">
    <div class="col-12 col-md-10 col-lg-8 m-auto">
      <mat-tab-group [selectedIndex]="selectedOperation" mat-align-tabs="start" animationDuration="1000ms" (selectedTabChange)="changeUrl($event)">
        <mat-tab [disabled]="isLoading" label="Versamento">
          <div class="container ">
            <div class="row">
              <h3 class="mt-3 col-12 col-md-10 m-auto">Per fare un versamento compila il form sottostante.</h3>
              <p class="mb-3 mt-1 col-12 col-md-10 m-auto">Ricorda: è possibile versare un massimo di € 5000.</p>
              <div class="col-12 col-md-10 green-background p-4 m-auto">
                <h3 class="text-center">Versamento</h3>
                <app-operation-form (isLoading)="isLoading = $event" op_type="DEPOSIT"></app-operation-form>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab [disabled]="isLoading" label="Ricarica" >
          <div class="container ">
            <div class="row">
              <h3 class="mt-3 col-12 col-md-10 m-auto">Per fare una ricarica telefonica compila il form sottostante.</h3>
              <p class="mb-3 mt-1 col-12 col-md-10 m-auto">Ricorda: non è possibile ricaricare più del saldo del conto selezionato.</p>
              <div class="col-12 col-md-10 orange-background p-4 m-auto">
                <h3 class="text-center">Ricarica telefonica</h3>
                <app-operation-form op_type="WITHDRAWAL"></app-operation-form>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <app-spinner *ngIf="isLoading"></app-spinner>
  </div>
</div>
