
.cursor{
  cursor: pointer !important;
}

.green-alert {
  padding: 20px;
  position: absolute;
  z-index: 5;
  width: 98%;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 991px) {
  .green-alert {
    width: 550px;
  }
}
