.action-icon{
    text-align: end;
    font-size: 1.6rem;
    color: var(--gray);
    cursor: pointer;
    transition: all 0.3s ease;
}

.action-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 0.3rem;
}

#activate-button:hover{
    color: var(--primary-green);
}

#delete-button:hover{
    color: var(--secondary-orange);
}
