.action-icon{
    text-align: end;
    font-size: 1.6rem;
    color: var(--gray);
    cursor: pointer;
    transition: all 0.3s ease;
}

.action-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 0.3rem;
}

.action-icon .action-button__desc{
    font-size: 0rem;
    opacity: 0;
    transition: all 0.3s ease;
    color: var(--gray);
    transform-origin: right;
}
.action-icon:hover .action-button__desc{
    opacity: 1;
    font-size: 1rem;
    color: var(--gray);
}

.action-icon:hover{
    color: var(--secondary-orange);
}
