
<div class="container mt-5">
  <div class="row">
    <div class="col-4 offset-4">
      <app-error></app-error>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6 bg-light text-center borderRadius shadow-sm">
      <h2 class="mtt">Accedi al tuo conto</h2>

      <div class="col-6 ct ">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm" >

            <div class="col-12 col-md-6 form-group mt-4 offset-md-9">
              <label for="username" class="form-label">Username</label>
              <input type="text"
                     [ngClass]="numberNameError == false ? 'form-control' : 'form-control is-invalid'"
                     id="username" name="username" required ngModel minlength="4" pattern="^\s*\S+\s*$">
              <div [@fade] *ngIf="numberNameError" style="font-weight: bold" class="alert-danger"> Inserisci un username valido! </div>
            </div>

          <div class="col-12 col-md-6 offset-md-9 form-group mt-4">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required ngModel
                     pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
          </div>

            <div class="col-12 col-md-6 offset-md-9 form-group mt-4">
              <button type="submit" [disabled]="!form.valid" class="btn btn-primary hover">Accedi</button>
            </div>

        </form>
      </div>

    </div>

    <div class="col-md-6 bgc borderRadius shadow-sm ">

    </div>

  </div>
</div>
