
.borderRadius{
  border-radius: 5px !important;

}

.bgc{
  background-color: #2c6e49;
  height: 50rem !important;
}

@media (max-width: 765px) {

  .ct{
    margin-left: 25% !important;
  }

}

@media (min-width: 768px) {

  .mtt{
    margin-top: 20% !important;
  }

}

@media (max-width: 766px){
  .img-not{
    display: none;
  }

  .container-height{
    padding-top: 20px;
    height: 35rem !important;
    margin-top: 30px ;
  }
}

@media (min-width: 990px) {

  .form-w{
    width: 25rem;
    margin-left: -50px !important;
  }

}

@media (min-width: 771px) {

  .form-w{
    width: 20rem;
    margin-left: -80px;
  }

}

@media (min-width: 770px) and (max-width: 993px){
  .img-center{
    margin-top: 80px !important;
  }
  .box-center{
    margin-top: 120px !important;
  }
}

