<div  class="container">
  <div class="row gx-5">
    <div class="col-12 col-lg-10 m-auto mb-4">
      <h1>Bentornat{{user.gender === 'M' ? 'o' : 'a'}}, {{user.firstName | titlecase}} {{user.lastName | titlecase}}</h1>
      <p>In questa pagina puoi visualizzare i tuoi conti e le operazioni che sono state effettuate.<br>
      Per poter gestire i tuoi conti, cancellarli o creare nuovi conti visita il tuo <a routerLink="profilo">profilo</a>.</p>
      <app-alert-message type="inactive" *ngIf="inactive"></app-alert-message>
      <app-alert-message type="closing" *ngIf="closing"></app-alert-message>
    </div>
    <div *ngIf="closing" class="img-container d-flex justify-content-center">
      <img class="big-img" [src]="'../../../../assets/img/Illustration/' + (user.gender === 'M' ? 'Finance%20app-rafiki.png' : 'Finance app-pana.png')" alt="Bank account">
    </div>
    <div  [class]="'col-12 col-lg-10 m-auto mt-3 ' + (inactive ? 'inactive' : '')" *ngIf="!closing">
      <div class="row gx-5">
        <div class="col-12 col-md-6 m-auto">
          <div class="row">
            <div class="col-12">
              <form class="form-inline d-flex align-items-center">
                <label class="form-label">Seleziona il conto:</label>
                <select [(ngModel)]="selectedBill" [ngModelOptions]="{standalone: true}" class="ms-2 form-select w-auto" name="bill" (change)="onChangeBill()">
                  <option *ngFor="let bill of user.bankAccounts; let i = index"  [value]="i">{{bill |  number:'6.0' | noComma}}</option>
                </select>
              </form>
              <div class="row">
                <div class="col-12 col-lg-9 col-xl-8 m-auto">
                  <div class="green-background mt-3 py-4 p-3">
                    <h1 class="text-end">€ {{bankAccounts[selectedBill].balance | number:'0.2' | noComma}}</h1>
                    <span>Saldo del conto {{ bankAccounts[selectedBill].id |  number:'6.0' | noComma}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-4">
              <h3>Le operazioni del tuo conto {{bankAccounts[selectedBill].id  |  number:'6.0' | noComma}}</h3>
              <p>Per poter effettuare una nuova operazione vai alla sezione dedicata. <a routerLink="operazioni">Opera sul tuo conto</a></p>
              <app-filter [selectedBill]="selectedBill" (filterString)="onSearchFunction($event)" ></app-filter>
              <div *ngIf="isLoadingOperations">
                <app-spinner></app-spinner>
              </div>
              <div *ngIf="!isLoadingOperations">
                <span>{{operationString}}</span>
                <app-operation-list *ngIf="operations.length !== 0" [operationsList]="operations"></app-operation-list>
                <p *ngIf="operations.length === 0">Non sono presenti operazioni nel periodo indicato.<br>Seleziona un altro periodo.</p>
              </div>
              <app-download  *ngIf="operations.length !== 0" [downloadData]="operations"></app-download>
            </div>
          </div>
        </div>
        <div class="d-none d-md-flex justify-content-center col-12 col-md-6  p-0">
          <div class="img-container d-flex justify-content-center green-background">
            <img class="big-img" [src]="'../../../../assets/img/Illustration/' + (user.gender === 'M' ? 'Finance%20app-rafiki.png' : 'Finance app-pana.png')" alt="Bank account">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

