
<div  class="container">
  <div class="row gx-5">
    <div class="col-12 col-md-10 m-auto mb-4">
      <h1>Bentornato, Samuel</h1>
      <p>In questa pagina puoi visualizzare i tuoi conti e le operazioni che sono state effettuate.<br>
      Per poter gestire i propri conti, cancellarli o creare nuovi conti visitare il proprio <a routerLink="profilo">profilo</a>.</p>
    </div>
    <div class="col-12 col-md-10 m-auto mt-3">
      <div class="row gx-5">
        <div class="col-12 col-md-6 m-auto">
          <div class="row">
            <div class="col-12">
              <form class="form-inline d-flex align-items-center" [formGroup]="selectBillForm">
                <label class="form-label">Seleziona il conto:</label>
                <select [(ngModel)]="selectedBill" [ngModelOptions]="{standalone: true}" (change)="onChangeBill()" class="ms-2 form-select w-auto" name="bill">
                  <option *ngFor="let bill of bills"  [value]="bill">{{bill |  number:'6.0' | noComma}}</option>
                </select>
              </form>
              <div class="row">
                <div class="col-8 m-auto">
                  <div *ngIf="isLoadingBalance">
                    <app-spinner></app-spinner>
                  </div>
                  <div *ngIf="!isLoadingBalance" class="green-background mt-3 py-4 p-3">
                    <h1 class="text-end">1.234,34</h1>
                    <span>Saldo del conto {{selectedBill |  number:'6.0' | noComma}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-4">
              <h3>Le operazioni del tuo conto {{selectedBill |  number:'6.0' | noComma}}</h3>
              <app-filter [onSearchFunction]="onSearchFunction"></app-filter>

              <div *ngIf="isLoadingOperations">
                <app-spinner></app-spinner>
              </div>
              <div *ngIf="!isLoadingOperations">
                <p>Sono visualizzate le operazioni degli ultimi 3 mesi.</p>
                <app-operation-list *ngIf="operations.length !== 0" [operationsList]="operations"></app-operation-list>
                <p *ngIf="operations.length === 0">Non sono presenti operazioni nel periodo indicato.<br>Seleziona un altro periodo.</p>
              </div>
              <app-download  *ngIf="operations.length !== 0" [downloadData]="operations"></app-download>
            </div>
          </div>
        </div>
        <div class="d-none d-md-flex justify-content-center col-12 col-md-6 green-background p-0">
          <img class="big-img" src="../../../../assets/img/Illustration/Finance%20app-rafiki.png" alt="Bank account">
        </div>
      </div>
    </div>
  </div>
</div>
