.container{
  background-color: var(--white-yellow);
  border-radius: 5px;
}

.error {
  color: var(--secondary-orange)
}

p > i  {
  color: var(--primary-green);
  cursor: pointer;
  padding: 2px;
  transition: font-size 0.5s;
}

p > i:hover {
  font-size: 1.8rem;
}


