.error{
    background-color: var(--secondary-orange);
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    border-radius: .25rem;
}

.error p{
    text-align: center;
    font-family: monospace;
    text-transform: capitalize;
    font-weight: 400;
    color: white;
}

.error div{
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
