# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
C:\Users\sonia\Desktop\progetto_banca\AcademyHomeBanking\BackEnd\project\src\main\resources\application.properties