table.table-fit {
  width: auto !important;
  table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
  width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
  width: auto !important;
}

mat-form-field {
  background-color: var(--white-yellow);

}

mat-form-field.mat-form-field-wrapper.mat-form-field-appearance-fill mat-form-field.mat-form-field-wrapper.mat-form-field-underline::before {
  background-color: var(--primary-green) !important;
  color: red;
}

table tr td {
  word-break: break-all
}

