<div class="container" *ngIf="user != null">

  <div class="row">
    <h1 class="col-12 col-md-10 col-lg-8 text-center m-auto mb-3">Il tuo profilo</h1>
    <div class="col-12 col-md-10 col-lg-8 m-auto">
      <app-alert-message type="inactive" *ngIf="inactive"></app-alert-message>
      <app-alert-message type="closing" *ngIf="closing"></app-alert-message>
    </div>
  </div>
  <div [class]="'row justify-content-center ' + (inactive || closing ? 'inactive' : '')">
    <div class="col-12 col-md-5 col-lg-4">
      <h2>Dati personali</h2>
      <table class="table table-borderless table-fit">
        <tbody>
        <tr>
          <th scope="row">Nome</th>
          <td>{{user.firstName}}</td>
        </tr>
        <tr>
          <th scope="row">Cognome</th>
          <td>{{user.lastName}}</td>
        </tr>
        <tr>
          <th scope="row">Data di nascita</th>
          <td>{{dateOfBirth | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <th scope="row">E-mail</th>
          <td>{{user.email}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-5 col-lg-4">
      <h2>Gestisci i tuoi conti</h2>
      <p *ngIf="deleteOk" class="light-green-background rounded m-3 p-3">La richiesta di chiusura è stata inoltrata alla banca.</p>
      <div class="orange-background p-4">
        <form class="form row gx-5">
          <div class="form-group col-12">
            <label class="form-label">Seleziona il conto da eliminare</label>
            <select class="form-select" [(ngModel)]="deletingBill" name="deletingBill">
              <option *ngFor="let bill of user.bankAccounts" [value]="bill" [selected]="deletingBill === bill">{{bill | number: '6.0' | noDot }}</option>
            </select>
            <div *ngIf="user.bankAccounts.length === 1" class="error mt-2">Attenzione! È presente un solo conto, dopo la chiusura l'account verrà eliminato. Verrà eseguito un log out automatico.</div> <!-- Solo se vi è un conto solo -->
          </div>
          <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-primary" (click)="onCloseBill()">Chiudi</button>
          </div>
        </form>
        <div>
          <app-spinner *ngIf="isDeleting"></app-spinner>
        </div>
      </div>
    </div>
  </div>
  <div [class]="'row ' + (inactive || closing ? 'inactive' : '')">
    <div class="col-12 col-md-10 col-lg-8 m-auto">
      <h2>Aggiungi un nuovo conto</h2>
      <div class="container my-3">
        <p *ngIf="createdNew" class="light-green-background rounded m-3 p-3">Il nuovo conto è stato creato con successo.</p>
        <form (ngSubmit)="onNewBill(form)" #form="ngForm" [class]="'row gx-5 green-background p-3 ' + (isCreatingNew ? 'disabledForm' : '')">

          <div class="form-group col-12 col-md-6">
            <label class="form-label" for="selectedBill">Seleziona il conto</label>
            <select id="selectedBill" required class="form-select" aria-label="Seleziona il conto" name="selectedBill" [(ngModel)]="selectedBill" (change)="changeBill()"> <!-- (change)="maxAmount=bills[selectedBill].amount"-->
              <option *ngFor="let bill of user.bankAccounts; let i = index" [value]="i" [selected]="selectedBill === i">{{bill | number: '6.0' | noDot }}</option>
            </select>
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="amount" class="form-label">Importo iniziale</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">€</span>
              </div>
              <input (ngModelChange)="moreThanAmountError = $event > this.maxAmount;" type="number" class="form-control" id="amount" name="amount" required min="0.01" [max]="maxAmount"  step="0.01" ngModel>
              <div class="error w-100">
                <span *ngIf="!moreThanAmountError">Inserire un importo valido.</span>
                <span *ngIf="moreThanAmountError">Importo troppo elevato.</span>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Crea nuovo conto</button>
          </div>
        </form>
        <div>
          <app-spinner *ngIf="isCreatingNew"></app-spinner>
        </div>
      </div>
    </div>
  </div>
  <div [class]="'row ' + (inactive || closing ? 'inactive' : '')">
    <div class="col-12 col-md-10 col-lg-8 m-auto">
      <h2>Scarica le operazioni</h2>
      <div class="container my-3">
        <div [class]="'row gx-5 green-background p-3 '">
          <p class="col-12">Scarica le operazioni di tutti i tuoi conti.</p>
            <div class="col-12 d-flex flex-column align-items-end">
              <button type="submit" class="btn btn-primary" (click)="onDownloadAllOperations()"><i class="bi-file-earmark-arrow-down"></i> Scarica</button>
            </div>
        </div>
        <div>
          <app-spinner *ngIf="isCreatingNew || isDownloading"></app-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
