<div class="container" *ngIf="user != null">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 col-lg-4">
      <h2>Dati personali</h2>
      <table class="table table-borderless table-fit">
        <tbody>
        <tr>
          <th scope="row">Nome</th>
          <td>{{user.firstName}}</td>
        </tr>
        <tr>
          <th scope="row">Cognome</th>
          <td>{{user.lastName}}</td>
        </tr>
        <tr>
          <th scope="row">Data di nascita</th>
          <td>{{dateOfBirth | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <th scope="row">E-mail</th>
          <td>{{user.email}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-5 col-lg-4">
      <h2>Gestisci i tuoi conti</h2>
      <div class="orange-background p-4">
        <form class="form">
          <label class="form-label">Seleziona il conto da eliminare</label>
          <select class="form-select" [(ngModel)]="deletingBill" name="deletingBill">
            <option *ngFor="let bill of user.bankAccounts" [value]="bill" [selected]="deletingBill === bill">{{bill | number: '6.0' | noComma }}</option>
          </select>
          <div *ngIf="user.bankAccounts.length === 1" class="error mt-2">Attenzione! È presente un solo conto, dopo la chiusura l'account verrà eliminato. Verrà eseguito un log out automatico.</div> <!-- Solo se vi è un conto solo -->
          <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-primary" (click)="onCloseBill()">Chiudi</button>
          </div>
        </form>
        <div>
          <app-spinner *ngIf="isDeleting"></app-spinner>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 m-auto">
      <h2>Aggiungi un nuovo conto</h2>
      <div class="container my-3">
        <form (ngSubmit)="onNewBill(form)" #form="ngForm" [class]="'row gx-5 green-background p-3 ' + (isCreatingNew ? 'disabledForm' : '')">
          <div class="form-group col-12 col-md-6">
            <label class="form-label" for="selectedBill">Seleziona il conto</label>
            <select id="selectedBill" required class="form-select" aria-label="Seleziona il conto" name="selectedBill" [(ngModel)]="selectedBill" (change)="changeBill()"> <!-- (change)="maxAmount=bills[selectedBill].amount"-->
              <option *ngFor="let bill of user.bankAccounts; let i = index" [value]="i" [selected]="selectedBill === i">{{bill | number: '6.0' | noComma }}</option>
            </select>
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="amount" class="form-label">Importo iniziale</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">€</span>
              </div>
              <input type="number" class="form-control" id="amount" name="amount" required min="0.01" [max]="maxAmount"  step="0.01" ngModel>
              <div class="error w-100">Inserire un importo valido</div>
            </div>
          </div>
          <div class="col-12 mt-4 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Crea nuovo conto</button>
          </div>
        </form>
        <div>
          <app-spinner *ngIf="isCreatingNew"></app-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
